// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head { position: relative;
  .mouth{ position: absolute; border: 2px solid black;  width: 100px; height: 100px; top: 0px; left: 0px;}
}